    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.rollno}}" placeholder="first name" name="roll">
            <label for="floatingInput">Roll Number</label>
        </div>
    </div>


    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="last name" name="name">
            <label for="floatingInput">Name</label>
        </div>
    </div>


    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.dob}}" placeholder="Phone" name="dob">
            <label for="floatingInput">Date Of Birth</label>
        </div>
    </div>


    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.score}}" placeholder="eamil@enail.com" name="score">
            <label for="floatingInput">Score</label>
        </div>
    </div>



<div class="col-12 d-grid">
<button class="btn btn-primary" type="submit">Submit</button>

</div>

